<!DOCTYPE html>
<html ng-app="app" ng-controller="AppController">
  <%- partial('_header') %>
  <body style="position: initial;">
    <toaster-container></toaster-container>
    <%- partial('_topnav') %>
    <%- partial('_sidenav') %>
    <%- body %>
    <%- partial('_footer') %>
  </body>
</html>
