<!DOCTYPE html>
<html ng-app="app">
  <%- partial('_header') %>
  <body>
    <toaster-container></toaster-container>
    <%- partial('_topnav') %>
    <%- partial('_sidenav') %>
    <%- body %>
    <%- partial('_footer') %>
  </body>
</html>
