!DOCTYPE html>
<html ng-app="app">
  <%- partial('_header') %>
  <body>
    <toaster-container></toaster-container>
    <div id="wrap">
      <%- partial('_topnav') %>
      <%- partial('_sidenav') %>
      <%- body %>
    </div>
    <%- partial('_footer') %>
  </body>
</html>
